<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Menu | Komatsu Ltd.</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/keys_style.css" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    
    <script type="text/javascript" src="../../js/jquery-min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="home.js"></script>
</head>

<body>
    <div id="headerspaceBg"></div>
    <div id="headerspace">
        <img id="tag" src="../../img/common/DASH 11 Service mode.png">
        <img id="logo" src="../../img/common/Komatsu Logo.png">
    </div>
    <div id="Container">
        <div id="Page">
            <div id="Sub">
                <div class="Information">
                   
                    <div class="Panlink1"><span id="panList1"><a href="index.html">Home</a></span>
                    </div>
                    <div class="Panlink">Home</div>

                    <div class="Scrollable">
                        <div id="noteArea"><p id="textArea">Please Click on "<b>KEY ON</b>" Button at Top right corner</p><p>&nbsp;</p></div>
                        <div id="menubutton" style="display: none;"></div>
                        <p>&nbsp;</p><p id="instruct" style="display: none;">Press and hold the button number "<b>4</b>", Parallelly click on Buttons "<b>1, 2, 3</b>", one after other, where you will be taken to <b>Service Mode</b></p>
                    </div>

                    <div id="notes" style="display:none">
                        
                    </div>

                </div>
            </div>
            <div id="Main">
                <div id="monitor">
                    <div id="MainVisual">
                        <div id="image1" style="height: 265px;">
                            <div id="screenArea" style="opacity:0;">
                            </div>
                            
            <!-- <img id="startScreen" src="../../img/common/background.png" style="width: 100%;opacity: 0; border-radius: 10px;"> -->
                        </div>
                        <ul id="menu">
                            <li><a href="#" class="menu01" id="function1button"><span>F1</span></a>
                            </li>
                            <li><a href="#" class="menu02" id="function2button"><span>F2</span></a>
                            </li>
                            <li><a href="#" class="menu03" id="function3button"><span>F3</span></a>
                            </li>
                            <li><a href="#" class="menu04" id="function4button"><span>F4</span></a>
                            </li>
                            <li><a href="#" class="menu05" id="function5button"><span>F5</span></a>
                            </li>
                            <li><a href="#" class="menu06" id="function6button"><span>F6</span></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <script type="text/javascript" src="../../js/common_ckey_new.js"></script>
                    </div>
                </div>
            </div>
            <div id="keyoffbuttons" class="clearfix">
                <div id="keys">
                    <div id="keyoff"></div>
                    <div id="keyonIndex"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" style="display: none;">
        <p id="round"></p>
        <div id="close"></div>
    </div>
    <div id="footerspace">
        <!-- <img style="display: none;" id="footerText" src="../../img/common/Footer text.png"> -->
    </div>
</body>

</html>